<div class="row">
    <div class="jumbotron">
        <h1 class="display-4 animated fadeIn fast">About .NET Core</h1>
        <div class="animated fadeIn">
            <p class="lead">.NET Core is a general purpose development platform maintained by Microsoft and the .NET community on GitHub. It is cross-platform, supporting Windows, macOS and Linux, and can be used in device, cloud, and embedded/IoT scenarios. .NET has
                several capabilities that make development easier, including a utomatic memory management, (runtime) generic types, reflection, asynchrony, concurrency, and native interop. Millions of developers take advantage of these capabilities to
                efficiently build high-quality applications.</p>
            <hr class="my-4">
            <a class="btn btn-outline-primary btn-lg" href="https://hub.docker.com/_/microsoft-dotnet-core" role="button">Learn more</a>
        </div>
    </div>
</div>