<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - demo</title>
    <base href="/">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/ClientApp/dist/favicon.ico">
    <link rel="stylesheet" href="~/ClientApp/dist/styles.967d611bc7897e6c80d9.css">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/ClientApp/dist/runtime.a5dd35324ddfd942bef1.js"></script><script type="text/javascript" src="~/ClientApp/dist/polyfills.46532d96d3286697c138.js"></script><script type="text/javascript" src="~/ClientApp/dist/scripts.8bda2e40bb31827132ab.js"></script><script type="text/javascript" src="~/ClientApp/dist/main.353a6bdd38ed1da8808b.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
