<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - demo</title>
    <base href="/">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/ClientApp/dist/favicon.ico">
    <link rel="stylesheet" href="~/ClientApp/dist/styles.css">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/ClientApp/dist/runtime.js"></script><script type="text/javascript" src="~/ClientApp/dist/polyfills.js"></script><script type="text/javascript" src="~/ClientApp/dist/scripts.js"></script><script type="text/javascript" src="~/ClientApp/dist/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
