<div class="row">
    <div class="col">
        <div class="card mb-3 animated fadeIn" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img [src]="img" class="card-img" [alt]="imageName">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{text}}</p>
                        <p class="card-text"><small class="text-muted">{{mutedText}}</small></p>
                        <a [href]="link" class="btn btn-outline-primary">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>